body {
  font-family: 'Mohave', sans-serif;
  background: #222a3f;
}

#main-wrapper {
  margin: auto;
  margin-top: 1%;
  width: 100%;
  text-align:center;
}
#sidebar{
  display: inline-block;
  width: 500px;
  /* float: left; */
  margin-right: 30px;
  padding-right: 20px;
  border-right: 1px solid #ccc;
  height: 1200px;
  text-align: left;
}
#animation-area{
  vertical-align:top;
  display: inline-block;
  width: 1200px;
}
#time-notes {
  position: relative;
  color: #fff; 
  padding-left: 20px; 
  padding-right: 20px;
  font-style: italic;
  font-weight: 400; 
  font-size: 1.15em; 
  line-height: 1.4em;
  padding-top: 100px;
}
#source {
  position: absolute;
  border-top: 1px solid #ccc;
  padding-top: 20px;
  top: 1100px;
  font-size: 15px;
  line-height: 1.4em;
  width: 500px;
  color: white;
}
#chart {
  margin: 0px auto;
}
#starting-note {
  font-size: 1.2em;
	padding: 3px 0px;
	font-weight: normal;
  text-align: left;
  margin-top: 0px;
  margin-bottom: 0px;
  color: #fff;
}
#left-button-container{
  margin-top: 20px;
  width: 25%;
  text-align: right;
  padding-right: 2.5px;
}
#right-button-container{
  margin-top: 20px;
  width: 25%;
  text-align: left;
  padding-left: 2.5px;
}
#toggleId, #slower, #play, #pause, #reset, #faster{
  border-radius: 5px;
  /* padding: 1px 15px; */
  background-image: linear-gradient(to bottom right, #43AA8B, #277DA1);
  border: #277DA1;
}
#toggleId:hover, #slower:hover, #play:hover, #pause:hover, #reset:hover, #faster:hover{
  background-color: #ca7878;
  cursor: pointer;
  background-image: linear-gradient(to bottom right, #CE4257, #FF9B54);
}
#toggleId:active, #slower:active, #play-pause:active, #reset:active, #faster:active {
  transform: translateY(5px);
}
.inline-div {
  display: flex;
  text-align: center;
  margin-bottom: 0px;
}

#num-students {
  /* background: linear-gradient(to bottom right, #43AA8B, #277DA1); */
  background: linear-gradient(to right, #ff8a00 0%, #dd4c4f 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
  /* font-weight: bold; */
}

#cohort-year {
  /* background: linear-gradient(to bottom right, #43AA8B, #277DA1); */
  background: linear-gradient(to right, #ff8a00 0%, #dd4c4f 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
  font-weight: bold;
}

/* Tooltip hover formatting */
div.tooltip {
  color: white;
  position: absolute;
  text-align: left;
  width: 200px;
  padding: 5px;
  font-size: 16px; 
  font-family: 'Mohave', sans-serif;;
  background: rgb(72, 90, 136);
  border: 1px solid #5a6164;
  pointer-events: none;
  border-radius: 5px;
}
text {
  font-size: 1.3em;
  fill: #fff;
}
h1 {
	font-size: 2.5em;
	padding: 3px 0px;
	font-weight: normal;
  text-align: left;
  margin-top: 0px;
  margin-bottom: 0px;
  color: #fff;
  /* border-bottom: 1px solid #ccc; */
}
h2 {
	font-size: 2.2em;
	padding: 3px 0px;
	font-weight: normal;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 15px;
  color: #fff;
  display: inline-block;
  text-align: center;
}
h3 {
	font-size: 1.15em;
	padding: 3px 0px;
	font-weight: normal;
  text-align: left;
  margin-top: 20px;
  margin-bottom: 0px;
  color: #fff;
}
h4 {
	font-size: 1em;
	padding: 3px 0px;
	font-weight: normal;
  text-align: center;
  margin-top:0px;
  margin-bottom: 0px;
  color: rgb(65, 65, 65);
}
h5 {
	font-size: 1.2em;
  padding-bottom: 10px;
	font-weight: normal;
  text-align: left;
  margin-top: 0px;
  margin-bottom: 0px;
  color: #fff;
  border-bottom: 1px solid #ccc;
}
text {
  font-size: 1.3em;
  fill: #fff;
}

.slidecontainer {
  width: 50%;
  text-align: center;
  /* font-size: 20px; */
  margin-left: 4px;
  margin-right: 4px;
  margin-top: 20px;
  margin-bottom: 30px;
  position: relative;
  align-items: center;
}

/* Tooltip container */
.spd-tooltip {
  position: relative;
  display: inline-block;
}

/* Tooltip text */
.spd-tooltip .tooltiptext {
  visibility: hidden;
  width: 114px;
  background-color: #b6cbd4;
  color: rgb(65, 65, 65);
  text-align: center;
  border-radius: 5px;

  /* Position the tooltip text */
  position: absolute;
  z-index: 1;
  top: 125%;
  left: 50%;
  margin-left: -60px;

  /* Fade in tooltip */
  opacity: 0;
  transition: opacity 0.3s;
}

/* Hover text for speed buttons */
.spd-tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

/* Range slider static point-in-time text boxes -- this is very hacky and really shouldn't be be hard-coded */
/* Year 4 point in time text box */
.yr4 {
  position: absolute;
	top: 150%;
	width: 50px;
	height: 22px;
	line-height: 24px;
	text-align: center;
  background-image: linear-gradient(to bottom right, #CE4257, #FF9B54);
	color: #fff;
	font-size: 16px;
	display: block;
	position: absolute;
	left: calc(37.93% + 2.41px);
	transform: translate(-50%, 0);
	border-radius: 5px;
  z-index: 1;
}
/* Year 6 point in time text box */
.yr6 {
  position: absolute;
	top: 150%;
	width: 50px;
	height: 22px;
	line-height: 24px;
	text-align: center;
  background-image: linear-gradient(to bottom right, #CE4257, #FF9B54);
	color: #fff;
	font-size: 16px;
	display: block;
	position: absolute;
	left: calc(58.62% - 1.72px);
	transform: translate(-50%, 0);
	border-radius: 5px;
  z-index: 1;
}
/* Tiny arrow for the year 4 point in time text box */
.yr4-tiny-arrow {
	content: "";
	position: absolute;
	width: 0;
	height: 0;
	border-bottom: 10px solid #CE4257;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	top: -32%;
	left: calc(37.93% + 2.41px);
	margin-left: -5px;
	margin-top: 30px;
}
/* Tiny arrow for the year 6 point in time text box */
.yr6-tiny-arrow {
	content: "";
	position: absolute;
	width: 0;
	height: 0;
	border-bottom: 10px solid #CE4257;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	top: -32%;
	left: calc(58.62% - 1.72px);
	margin-left: -5px;
	margin-top: 30px;
}