body {
  font-family: 'Mohave', sans-serif;
  background: #FBEEE6;
}

#main-wrapper {
  margin: 40px auto;
}
#chart {
  margin: 0px auto;
}
#play-pause {
  font-family: 'Mohave', sans-serif;
  background-color: #4a6b96;
  border: none;
  color: white;
  padding: 8px 40px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  opacity: 1;
}
#play-pause:hover{
  background-color: #9e4949;
  opacity: 0.7;
  transition: 0.3s;
}
#slow {
  font-family: 'Mohave', sans-serif;
  background-color: #4a6b96;
  border: none;
  color: white;
  padding: 8px 40px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  opacity: 1;
}
#slow:hover{
  background-color: #9e4949;
  opacity: 0.7;
  transition: 0.3s;
}
#fast {
  font-family: 'Mohave', sans-serif;
  background-color: #4a6b96;
  border: none;
  color: white;
  padding: 8px 40px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  opacity: 1;
}
#fast:hover{
  background-color: #9e4949;
  opacity: 0.7;
  transition: 0.3s;
}
#button-container{
  text-align: center;
}

h1 {
	font-size: 2em;
	padding: 3px 0px;
	font-weight: normal;
  text-align: center;
  margin-top: 0x;
  margin-bottom: 0px;
}
h2 {
	font-size: 1.4em;
	padding: 3px 0px;
	font-weight: normal;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 0px;
}
h3 {
	font-size: 1.1em;
	padding: 3px 0px;
	font-weight: normal;
  text-align: center;
  margin-top:0px;
  margin-bottom: 0px;
}
h4 {
	font-size: 0.9em;
	padding: 3px 0px;
	font-weight: normal;
  text-align: center;
  margin-top:0px;
  margin-bottom: 0px;
}
text {
  font-size: 1.1em;
  fill: #000;
}

.slidecontainer {
    font-size: 20px;
    width: 55%; /* Width of the outside container */
    margin-left: auto !important;
    margin-right: auto !important;
  }
  
  /* The slider itself */
  .slider {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 55%;
    height: 25px; /* Specified height */
    background: #d3d3d3; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
  }
  
  /* Mouse-over effects */
  .slider:hover {
    opacity: 1; /* Fully shown on mouse-over */
  }
  
  /* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #4a6b96; /* Blue background */
    cursor: pointer; /* Cursor on hover */
  }
  
  .slider::-moz-range-thumb {
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #4a6b96; /* Blue background */
    cursor: pointer; /* Cursor on hover */
  }

/* .sliderticks {
  width: 55%;
  display: flex;
  justify-content: space-between;
  padding-left: 196px;
  padding-right: 234px;
}

.sliderticks p {
  position: relative;
  display: flex;
  justify-content: center;
  text-align: center;
  width: 1px;
  background: #D3D3D3;
  height: 10px;
  line-height: 40px;
  margin: 0 0 20px 0;
} */