body {
  font-family: 'Mohave', sans-serif;
  background: #222a3f;
}

#main-wrapper {
  margin: 40px auto;
}
#chart {
  margin: 0px auto;
}
#play-pause {
  font-family: 'Mohave', sans-serif;
  background-color: #7a7f8c;
  border: none;
  color: white;
  /* padding: 8px 20px; */
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  opacity: 1;
  height: 35px;
  width: 80px;
}
#play-pause:hover{
  background-color: #ca7878;
  opacity: 0.7;
  transition: 0.3s;
}
#slow {
  font-family: 'Mohave', sans-serif;
  background-color: #7a7f8c;
  border: none;
  color: white;
  /* padding: 8px 20px; */
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  opacity: 1;
  height: 35px;
  width: 80px;
}
#slow:hover{
  background-color: #ca7878;
  opacity: 0.7;
  transition: 0.3s;
}
#fast {
  font-family: 'Mohave', sans-serif;
  background-color: #7a7f8c;
  border: none;
  color: white;
  /* padding: 8px 20px; */
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  opacity: 1;
  height: 35px;
  width: 80px;
}
#fast:hover{
  background-color: #ca7878;
  opacity: 0.7;
  transition: 0.3s;
}
#reset {
  font-family: 'Mohave', sans-serif;
  background-color: #7a7f8c;
  border: none;
  color: white;
  /* padding: 8px 20px; */
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  opacity: 1;
  height: 35px;
  width: 80px;
}
#reset:hover{
  background-color: #ca7878;
  opacity: 0.7;
  transition: 0.3s;
}
#button-container{
  text-align: center;
}

h1 {
	font-size: 2.5em;
	padding: 3px 0px;
	font-weight: normal;
  text-align: center;
  margin-top: 0x;
  margin-bottom: 0px;
  color: #fbfbee;
}
h2 {
	font-size: 1.8em;
	padding: 3px 0px;
	font-weight: normal;
  text-align: center;
  margin-top: 0px;
  margin-bottom: -8px;
  color: #fbfbee;
}
h3 {
	font-size: 1.6em;
	padding: 3px 0px;
	font-weight: normal;
  text-align: center;
  margin-top:0px;
  margin-bottom: 0px;
  color: #fbfbee;
}
h4 {
	font-size: 0.8em;
	padding: 3px 0px;
	font-weight: normal;
  text-align: center;
  margin-top:0px;
  margin-bottom: 0px;
  color: #fbfbee;
}
text {
  font-size: 1.3em;
  fill: #fbfbee;
}

.slidecontainer {
    font-size: 20px;
    width: 40%; /* Width of the outside container */
    margin-left: auto !important;
    margin-right: auto !important;
    position: relative;
  }
  
  /* The slider itself */
  .slider {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 55%;
    height: 25px; /* Specified height */
    background: #d3d3d3; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
  }
  
  /* Mouse-over effects */
  .slider:hover {
    opacity: 1; /* Fully shown on mouse-over */
  }
  
  /* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #7a7f8c; /* Blue background */
    cursor: pointer; /* Cursor on hover */
  }
  
  .slider::-moz-range-thumb {
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #7a7f8c; /* Blue background */
    cursor: pointer; /* Cursor on hover */
  }


/* Tooltip hover formatting */
div.tooltip {
  color: white;
  position: absolute;
  text-align: left;
  width: 200px;
  /* height: 28px; */
  padding: 5px;
  font-size: 16px; 
  font-family: 'Mohave', sans-serif;;
  background: #4a6b96;
  border: 1px solid black;
  pointer-events: none;
}

.leftlabel {
  color: white;
  position: absolute; 
  top: 8%;
  right: 78%;
}

.rightlabel {
  color: white;
  position:absolute; 
  top: 8%;
  left: 78%;
}